.wy-nav-content {
    max-width: 950px;
}

.highlight {
    background: #f1f5fb!important;
}

.sphx-glr-script-out .highlight pre {
    background-color: #f1f5fbcf!important;
}

div.output_subarea.output_html.rendered_html.output_result{
    overflow: auto;
}

.rst-content .output_area img {
    max-width: unset;
    width: 100% !important;
    height: auto !important;
}
