-r ../requirements.txt
ipython_genutils
Jinja2<3.1.0  # https://github.com/spatialaudio/nbsphinx/issues/641
memory_profiler>=0.57.0
nbsphinx>=0.8.1,<0.8.7
pypandoc
sphinx>=3.3.0
sphinx_copybutton
sphinx_gallery>=0.9.2
sphinx_last_updated_by_git
sphinx_rtd_theme
sphinxcontrib-bibtex>=2.2.0
sphinxcontrib-spelling
